h3{
    background-color: dodgerblue !important;
}


h1{
    background-color: blueviolet;
}





#one{
    background-color: crimson;
}



.one{
    background-color:darkolivegreen;
}



h2{
    background-color: darksalmon;
}

h3{
    background-color: blueviolet;
}

